<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <%= link_to root_path, id: "logo" do %>
        <%= fa_icon '', text: 'Dribbble Slideshow', right: false %>
    <% end %>
  </div>
</header>
